<?xml version="1.0" encoding="UTF-8"?>

<Configuration monitorInterval="10" xmlns="http://logging.apache.org/log4j/2.0/config">
	<Properties>
		<!-- properties comes here -->
	</Properties>
	
	<Appenders>
		<Console name="CONSOLE_APPENDER" target="SYSTEM_OUT">
		    <PatternLayout pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue}  %style{%logger{36}}{cyan} : %msg%n" />
		</Console>
	</Appenders>
	
	<Loggers>
		<Root level="ALL">
		    <AppenderRef ref="CONSOLE_APPENDER" />
		</Root>
	</Loggers>
</Configuration>